body{
    background-color:rgb(138, 238, 245);
    
}
h1{
    text-align: center;
}

.new{
    background-color: rgb(179, 107, 13);
    margin: auto;

}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.one{
    text-align: center;
    display: flex; 
    
}
.image{
    position: relative;
    height: 300px;
    width: 300px;
    display: none;
}
.current{
    flex:50%
}
.old{
    flex:50%
}

.bundle{
  position: absolute; 
  top: 0px; 
  left:19px;
}

#phone{
    z-index: 1;
    top:50%;
    left:140%
}
#office{
    z-index: 0;
}

p:hover{
    background-color: antiquewhite;
}